practica15/ejercicio3/ejercicio3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Libro">
<xs:complexType>
<xs:sequence>
<xs:element name="Título" type="xs:string"/>
<xs:element name="Autores" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="Editorial" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>